body{
    background-color : lightgray;
    margin:0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.navbar-name{
    background-color :black;
    float : left;
    position: relative;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.navbar-container{
    position : absolute;
    background-color: black ;
    width: 100%;
    height: auto;
}
.navbar-container a{
    position: relative;
    text-decoration: none;
    padding: 8px;
    color : WHITE;
    width: 100%;
    letter-spacing: 100%;
    font-size: 100%;
}

.links li {
    list-style-type : none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-top: 1em;
    margin-bottom : 1em;
    margin-right : 1em; 
}

.navbar-links{
    float: right;
}

.navbar-links ul{
    float : right;
}

.links a:hover {
    color:blue;
}
button{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: auto;
    top: auto;
}
.test-img{
    position: absolute;
    top : 50%;
    width: 100%;
    height: auto;
    padding:30px ;
}

.test-img:hover{
    background-size:50%; 
}

.welcome-text{
    position: absolute;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10%;
    top: 25%;
    left: 10%;
}
.emoji{
    position: absolute;
    width: 20%;
    height: auto;
    padding-top: 10px;
}
.horizontal-line{
  height: auto; /* Full-height: remove this if you want "auto" height */
  width:100% ; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 18%; /* Stay at the top */
  left: 0;
  background-color: black; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

@media only screen and (min-width: 400px) {
 
}

@media only screen and (min-width: 1000x) {
 
}