body{
    background-color : lightgray;
    margin:0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar-name{
    background-color : BLACK;
    float : left;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.navbar-container{
    position : absolute;
    background-color: BLACK;
    width : 100%;
}

.navbar-container a{
    text-decoration: none;
    color : WHITE;
    letter-spacing: 15px;
}

.links li {
    list-style-type : none;
    display: inline-block;
    margin-top: 1em;
    margin-bottom : 1em;
    margin-right : 2em;
}

.navbar-links{
    float: right;
}

.navbar-links ul{
    float : right;
}

.links a:hover {
    color: #8186d5;
}

