
/* MY CODE  STARTS UNDER HERE*/
* {
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto Cn",sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

body, html{
    height: 100%;
    margin: 0;
} 

.image-cover{
    background-image: url("/assests/img/real-space-wallpaper-5.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container{
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}

.menu-toggle{
    position: fixed;
    top: 2.5rem;
    right : 2.5rem;
    color: #eeeeee;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

body nav{
    padding-top:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

body .header-brand {
    font-size :3rem;
    font-weight :300;
    color:white;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

body nav ul {
    display: flex;
}
body nav ul li {
    list-style: none;
    transform: translateY(100rem);
    animation: slideIn .5s forwards;
}
body .header-cases {
    display:none;
}

body nav ul li:nth-child(1){
    animation-delay: 0s;
}

body nav ul li:nth-child(2){
    animation-delay: .5s;
}

body nav ul li:nth-child(3){
    animation-delay: 1s;
}
body nav ul li:nth-child(4){
    animation-delay: 1.5s;
}

body nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

body nav ul li a:last-child{
    margin-right: 0;
}

body nav ul li a::before,
body nav ul li a::after{
    content: '';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: crimson;
    left:0;
    transform: scaleX(0);
    transition: all .5s;
}

body nav ul li a::before{
    top: 0;
    transform-origin: left;
}

body nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

.overlay{
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}

body ul li a:hover::before,
body ul li a:hover:after{
    transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

/*INDEX*/
.title-statement{
    align-self: auto;
}
.title-statement h2 {
    padding-top: 100px;
    font-size :30px;
    color:white;
    text-align: center;
    line-height: 65px;
    font-weight: 800;
    text-shadow: 2px 2px 8px black;
}
.title-statement h1 {
    font-size :26px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.social-icons {
    height: 20em;
    position: relative;
}

.social-icons ul{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.social-icons li{
    list-style: none;
    display: inline-block;
    font-size: 30px;
    padding: 25px 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
}

.social-icons li:hover{
    color: crimson;
    border: 5px solid crimson;
    transition: .3s;
}


@media screen and (max-width: 700px) {
    .social-icons li{ 
        font-size: 40px;
        padding: 15px 15px;
    }
    
    .menu-toggle{
        display: block;
    }

    body nav{
        padding-top: 0;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        text-align: center;
    }

    body nav ul{
        flex-direction: column;
    }

    body ul li{
        margin-top: 5rem;
    }

    body nav ul li a{
        margin:0;
        font-size: 2.5rem;
    }

    body .header-brand{
        font-size: 5rem; 
    }

    .overlay.menu-open,
    body nav.menu-open{
        display: flex;
        transform: scale(1);
        opacity: 1;
    }  

} 