* {
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto Cn",sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

body, html{
    height: 100%;
    margin: 0;
} 

body .header-brand {
    font-size: 20px;
    letter-spacing: 10px;
    transform: translateX(-100rem);
    color: black;
    animation: slideIn .5s forwards;
}

body .header-brand span{
    color: crimson;
}
body nav{
    padding-top:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
body nav ul {
    display: flex;
}
body nav ul li {
    list-style: none;
    transform: translateY(100rem);
    animation: slideIn .5s forwards;
}
body nav ul li:nth-child(1){
    animation-delay: 0s;
}

body nav ul li:nth-child(2){
    animation-delay: .5s;
}

body nav ul li:nth-child(3){
    animation-delay: 1s;
}
body nav ul li:nth-child(4){
    animation-delay: 1.5s;
}

body nav ul li a{
    padding: 1rem 0;
    margin: 0 2rem;
    position: relative;
    letter-spacing: 2px;
}

body nav ul li a:last-child{
    margin-right: 0;
}

body nav ul li a::before,
body nav ul li a::after{
    content: '';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: black;
    left:0;
    transform: scaleX(0);
    transition: all .5s;
}

body nav ul li a::before{
    top: 0;
    transform-origin: left;
}

body nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

.overlay{
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}

body ul li a:hover::before,
body ul li a:hover:after{
    transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}


@media screen and (max-width: 800px) {
} 